<md-dialog aria-label="YoutubeEdit" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Edit Youtube</h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-dialog-content style="width: 400px; max-width:70vw;">
    <div class="md-dialog-content" layout="row">
      <div flex layout="column">
        <div ng-if="url">
          <a ob-lazytube 
             href="{{url}}"></a>
        </div>
        <md-input-container>
          <label>Insert Link</label>
          <input ng-model="url" ng-change="updateUrl(url)">
        </md-input-container>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button ng-click="cancel()">
      Cancel
    </md-button>
    <span flex></span>
    <md-button ng-click="remove()" ng-show="url">
      Remove
    </md-button>
    <md-button class="md-primary" ng-click="done(url)" ng-disabled="!url">
      Save
    </md-button>
  </md-dialog-actions>
</md-dialog>